*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 21px;
}

.container{
  width: 10%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


#count{
  background-color: rebeccapurple;
  color: #fff;
  padding: 10px;

}

button{

  margin: 5px 20 px;
  background-color: violet;
  color: #fff;
  border: none;
   border-radius: 5px;
}